.back{
    background-image: url('../../../assets/backgroundimg.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    height: 700px;
    opacity: 1.5;
    background-attachment: fixed;

    /* background-position:absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; */
}

/* text background  */

.line{
    border: 1px solid black;
    width: 200px;
}


/* responsive background */
@media screen and (min-width: 168px) and (max-width: 920px) {
    .back {    
        background-color: antiquewhite;
        background-repeat: no-repeat;
        background-size: cover;
        height: 700px;
        opacity: 1.5;
    };
}

  /* @media screen and (min-width: 260px) and (max-width: 920px) {
    .back {
        
        background-color: black;
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 0.6;
        z-index: -1;
        height: 700px;
        opacity: 1.5;
    };
    
}
};
 */
