.back{
    background-image: url('../../../assets/backgroundimg.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    
    opacity: 1.5;
    background-attachment: fixed;

    /* background-position:absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; */
}

/* text background  */

.line{
    border: 1px solid black;
    width: 200px;
}


/* responsive background */
@media screen and (min-width: 168px) and (max-width: 920px) {
    .back {    
        background-color: antiquewhite;
        background-repeat: no-repeat;
        background-size: cover;
        
        opacity: 1.5;
    };
}

@media screen and (min-width:820px) and (min-height: 1180px) {
    .back{
        background-image: url('../../../assets/backgroundimg.jpg');
        /* background-color: rgb(206, 202, 202); */
        background-repeat: no-repeat;
        background-size: cover;
       
        opacity: 1.5;
        /* background-attachment: fixed; */
    
    }
}